# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Machine learning files
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db